{% extends 'base.html.twig' %}

{% block title %}New Francais{% endblock %}

{% block body %}
    <h1>Create new Francais</h1>

    {{ include('francais/_form.html.twig') }}

    <a href="{{ path('app_francais_index') }}">back to list</a>
{% endblock %}
