{% extends 'base.html.twig' %}

{% block title %}Edit Arabe{% endblock %}

{% block body %}
    <h1>Edit Arabe</h1>

    {{ include('arabe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_arabe_index') }}">back to list</a>

    {{ include('arabe/_delete_form.html.twig') }}
{% endblock %}
